{% extends 'polls/base.html' %}

{% block content %}
<h1>{{ question.question_text }}</h1>

{% if question.image %}
    <img src="{{ question.image.url }}" alt="Изображение к вопросу" style="max-width: 400px;">
{% endif %}

{% if has_voted %}
    <p>Вы уже проголосовали. См. <a href="{% url 'polls:results' question.id %}">результаты</a>.</p>
{% else %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Голосовать">
    </form>
{% endif %}

<a href="{% url 'polls:index' %}">Назад</a>
{% endblock content %}

